body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap:2rem;
}
.random{
  background:green;
  width:500px;
  height:auto;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.random1{
  background-color: blue;
  width:auto;
  height:auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  
}
.input{
  text-align: center;
}
